<% layout("layouts/boilerplate") %>   
    <div id="filters">
      <!-- <a href="/listings/trendings" class="filter">
        <i class="fa-solid fa-regular"></i>
        <p>Beach</p>
      </a> -->
      <a href="/listings/rooms" class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </a>
      <a href="/listings/cities" class="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic cities</p>
      </a>
      <a href="/listings/mountains" class="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
      </a>
      <a href="/listings/castles" class="filter">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
      </a>
      <a href="/listings/pools" class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing pools</p>
      </a>
      <a href="/listings/campings" class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </a>
      <a href="/listings/farms" class="filter">
        <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
      </a>
      <a href="/listings/arctics" class="filter">
        <i class="fa-regular fa-snowflake"></i>
        <p>Arctic</p>
      </a>
      <a href="/listings/domes" class="filter">
        <i class="fa-solid fa-igloo"></i>
        <p>Domes</p>
      </a>
      <a href="/listings/boats" class="filter">
        <i class="fa-solid fa-sailboat"></i>
        <p>Boats</p>
      </a>
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
         <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
         <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
  <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %></b> <br>
        &#8377; <%= listing.price.toLocaleString("en-IN")%> / night
        <i class="tax-info"> &nbsp; &nbsp; +18% TAX</i>
    </p>
  </div>
</div>
</a>
<% } %> 
</div>
<script src="/js/script.js"></script>
